.swal2-title {
  font-family: "Tilt Neon", cursive;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
  letter-spacing: 0.06em;
}
.swal2-text {
  font-family: "Tilt Neon", cursive;

  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  letter-spacing: 0.06em;
}
.p {
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
}

.nombre {
  color: #ff00ff;
  text-shadow: 0 0 5px #ff00ff;
}
.input-blanco input {
  color: white; /* Cambia el color del texto a blanco */
}
