/*colores pincipales*/
$primary-color: #ff00ff;
$secondary-color: #00a4ff;
$tertiary-color: #ffffff;
/*colores de fondo*/

$primary-background-color: #0f1436;
$secondary-background-color: #131a47;
$tertiary-background-color: #232c69;

/*Tipógraf*/
$font-family: "Tilt Neon", cursive;
